.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

.cent {
   text-align:center;
}

.ind {
   line-height: 0.4;
}


brr {
    content: " " !important;
    display: block !important;
    margin:-30px;
}

.emphasized {
   font-size: 2em;
}

.footer {
    color: black;
    background: #E8E8E8;
    position: fixed;
    top: 90%;
    text-align:center;
    width:100%;
}

.gdbar img {
  width: 100% !important;
  height: 150px !important;
  margin: 8px 8px;
}

.gdbar {
  text-align:center;
  width: 100%;
}

/* заголовки типа ## */
h2 { 
 font-size:1.8em;
 font-family: "Myriad Pro";
 color:  #003399;
 line-height: 1;
}

/*заголовок*/
.title-slide hgroup h1 {
  font-size: 55px;
  text-align:center;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #515151;
  margin-left: -1em;
  margin-right: 1em;
  margin-bottom: 1em;
  font-family: "Myriad Pro";
}

/* поле подзаголовок + поле дата-автор
.title-slide hgroup {
}
*/

/*строка автор дата */
.title-slide hgroup p {
  font-size: 22px;
/*  color: #797979;*/
  line-height: 1.3;
  margin-top: 1em;
  margin-right: 3em;
color: #515151;
  font-family: "Myriad Pro";
}



/*титульный (фон) */
slides > slide.title-slide {
/*
лого сбоку вверху
  background-image: url(https://www.hse.ru/data/2014/06/24/1310196796/logo_hse_cmyk.jpg);
  background-position: 93.1% 4%;
  background-repeat: no-repeat;
  background-size: 300px;
*/
  background-image: url(https://www.hse.ru/data/2014/06/25/1309038576/logo_hse_cmyk_e.jpg);
  background-position: 50.1% 15%;
  background-repeat: no-repeat;
  background-size: 400px;
}

slides > slide.backdrop {
  background: white;
}



body slides > slide
{
  font-family: "Myriad Pro";
}


.prettyprint {
  font-family: "DejaVu Sans Mono";
}

.prettyprint .com {
  /* a comment */
  color: green;
  font-style: normal;
}

.prettyprint .lit {
  /* a literal value */
  color: blue;
}

.prettyprint .pln {
/* color: #515151; */
  color: navy;
}

.let_it_snow {
	position: absolute;
	width: 25px;
	height: 25px;
	animation-timing-function: ease-out;
	z-index: 1000;
	pointer-events: none;
}

.let_it_snow.snow_type_1 {
	background: transparent url(./images/snow1.png) center center no-repeat;
}

.let_it_snow.snow_type_2 {
	background: transparent url(./images/snow2.png) center center no-repeat;
}

.let_it_snow.snow_duration_1 {
	animation-duration: 8s;
}

.let_it_snow.snow_duration_2 {
	animation-duration: 7s;
}

.let_it_snow.snow_duration_3 {
	animation-duration: 6s;
}

.let_it_snow.snow_duration_4 {
	animation-duration: 5s;
}

.let_it_snow.snow_duration_5 {
	animation-duration: 4s;
}

.let_it_snow.snow_delay_1 {
	animation-delay: 5s;
}

.let_it_snow.snow_delay_2 {
	animation-delay: 4s;
}

.let_it_snow.snow_delay_3 {
	animation-delay: 3s;
}

.let_it_snow.snow_delay_4 {
	animation-delay: 2s;
}

.let_it_snow.snow_delay_5 {
	animation-delay: 1s;
}

.let_it_snow.snow_anim_1 {
	animation-name: snow_anim_1, snow_anim_fade;
}

.let_it_snow.snow_anim_2 {
	animation-name: snow_anim_2, snow_anim_fade;
}

.let_it_snow.snow_anim_3 {
	animation-name: snow_anim_3, snow_anim_fade;
}

.let_it_snow.snow_anim_4 {
	animation-name: snow_anim_4, snow_anim_fade;
}

.let_it_snow.snow_anim_5 {
	animation-name: snow_anim_5, snow_anim_fade;
}

@keyframes snow_anim_fade {
    0%   { opacity: 1; }
    60%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes snow_anim_1 {
    0%   { transform: translate(0, 0) rotate(0); }
    100% { transform: translate(-70px, 630px) rotate(70deg); }
}

@keyframes snow_anim_2 {
    0%   { transform: translate(0, 0) rotate(0); }
    100% { transform: translate(70px, 640px) rotate(-70deg); }
}

@keyframes snow_anim_3 {
    0%   { transform: translate(0, 0) rotate(0); }
    100% { transform: translate(30px, 550px) rotate(45deg); }
}

@keyframes snow_anim_4 {
    0%   { transform: translate(0, 0) rotate(0); }
    100% { transform: translate(-30px, 600px) rotate(-45deg); }
}

@keyframes snow_anim_5 {
    0%   { transform: translate(0, 0) rotate(0); }
    100% { transform: translate(0px, 660px) rotate(50deg); }
}